
  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <title>CQ</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" href="/header.css">
      <link rel="stylesheet" href="/sidebar.css">
  
  <link rel="stylesheet" href="/managecommunitycss.css" />
  <link rel="stylesheet" href="/discussioncss.css" />

  </head>
  <body>
    <p id="id" style="display:none;"><%= commobj._id %></p>
    <% include partials/cHeader.ejs %>
    <div id="viewscreen">
      <% include partials/cSidebar.ejs %>
      <div id="rightview">
        <div class="container-fluid div-min-width" style="padding:0; min-width:360px;">
            <div class="row">
                <div class="col-lg-12">
                  <% include partials/commoncommunitytop.ejs %>
                    <div class="container" style="padding: 0 20px 0 20px;">
                      <div class="panel panel-default allSidesSoft" style="border-radius: 0; border: 1px solid rgb(182, 182, 182) !important;">
                        <div class="panel-body" style="padding:5px;background:#f9f9f9;">
                            <div class="col-sm-1 col-xs-3">
                              <a href="">
                                <img src="<%= commobj.communityimage %>" class="discussion-com-profile-pic allSidesSoft" style="border:2px solid #fff">
                              </a>
                            </div>
                            <p class="col-sm-11 col-xs-9 discussion-heading">
                              Start a discussion
                            </p>
                        </div>
                        <form action="/createDiscussion/<%= commobj._id %>" method="POST">
                          <div class="discussion-panel-body panel-body">
                            <div class="col-sm-12 col-xs-12" style="padding:0;border-top: 1px solid white;">
                              <input type="text" style="width:100%;" class="discussion-input-title" name="title" placeholder="Enter a discussion title....." id="discussion-title" autocomplete="off" required="">
                            </div>
                          </div>

                          <div class="panel-body discussion-body" style="display:block;">

                              <div class="col-sm-12 col-xs-12" style="padding:0;border-top: 1px solid white;">
                                  <textarea class="discussion-body-textarea" name="details" placeholder="Enter discussion details" id="discussion-details" autocomplete="off" required="" style="height: 32px;"></textarea>
                              </div>

                              <div class="tag-conatiner-custom-div">
                                <textarea class="form-control" name="name" rows="" cols="" placeholder="Enter Tag..." ></textarea>
                              </div>

                              <div class="col-sm-12 col-xs-12" style="padding:0;">
                                <a class="discussion-image-btn" id="discussionImageClickBtn" style="display: block;"><i class="fa fa-image"></i></a>
                                <button type="submit" class="btn btn-primary" style="float:right">
                                  <p class="discussion-post-btn-txt" style="display: block;">Post</p>
                                </button>
                              </div>

                          </div>

                        </form>
                        <div class="panel-footer"></div>
                      </div>
                    </div>
                    <div id="discussionsList">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
  <script src="cHeaderjs.js" type="text/javascript"></script>
  <script src="cSidebarjs.js" type="text/javascript"></script>
   <script type="text/javascript" src="/discussionjs.js"></script>
</html>
