<!--
<div id="sidebar">

  <ul>

    <li><img id="phone-dp" src="dp.png"></img></li>

    <li id="main-sidebar"><a href="#" ><i class="fa fa-bars" id="icon"></i>cq</a></li>

    <li id="home"><a href="#" > <i class="fa fa-home" id="icon"></i>Home</a></li>

    <li id="adduser"><a href="#" > <i class="fa fa-plus-square" id="icon"></i>Add User</a></li>

    <li id="userslist"><a href="#" > <i class="fa fa-list" id="icon"></i>Users List</a></li>

    <li id="communitylist"><a href="#" > <i class="fa fa-list-alt" id="icon" style="color:inherit; border-radius:3px;"></i>Community List</a></li>

    <li id="switchasuser"><a href="#switch-stateUser" data-toggle="modal"> <i class="fa fa-toggle-off" id="icon"></i>Switch As User</a></li>

    <li id="tagpanel"><a href="#" > <i class="fa fa-tags" id="icon"></i>Tag Panel</a></li>

    <li id="changepassword"><a href="#" > <i class="fa fa-lock" id="icon"></i>Change Password</a></li>

    <li id="logout"><a href="#logout-modal" data-toggle="modal"> <i class="fa fa-sign-out" id="icon"></i>Logout</a></li>

  </ul>

</div>
------->
<!---
<div class="modal fade " id="logout-modal" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Do you want to LOGOUT?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <a id="modal-btn-yes"  href="./project.html" class="btn btn-danger" >Yes</a>	   
	   <button  type="button"id="modal-btn-yes" onclick="gotologinpage()"  class="btn btn-danger" >Yes</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
	   </div>
	 </div>
  </div>
</div>	 ----------->

<div id="sidebar">
    <ul class="sidebar-list">
        <li class="list" id="mobile-pic">
            <div style="margin-right:10px">
                <center>
                    <img src="/uploads/<%= obj.photoname %>" id="mobile-img">
                </center>
            </div>
        </li>
        <li class="list" id="bars">
        <a onclick="openbar()" id="open">
            <span class="list-span">
                <i class="fa fa-bars" id="icon"></i>
            </span>
                Cq
        </a>
        </li>
		        <li class="list" id="sidebar-home">
            <a onclick="homepage()">
                <span class="list-span">
                    <i class="fa fa-home" id="icon"></i>
                </span>
                Home
            </a>
        </li>

        <li class="list" id="sidebar-add">
            <a onclick="open_adduser_page()">
                <span class="list-span">
                    <i class="fa fa-plus-square" id="icon"></i>
                </span>
                Add User
            </a>
        </li>


        <li class="list" id="sidebar-list">
            <a onclick="openuserlist()">
                <span class="list-span">
                    <i class="fa fa-list" id="icon"></i>
                </span>
                Users List
            </a>
        </li>

        <li class="list" id="sidebar-comm">
            <a onclick="admincomm()">
                <span class="list-span">
                    <i class ="	fa fa-list-alt" id="icon"></i>
                </span>
                Community List
            </a>
        </li>

        <li class="list" id="sidebar-admin">
            <a  data-toggle="modal" data-target="#switch-stateUser">
                <span class="list-span">
                    <i class="fa fa-toggle-off" id="icon"></i>
                </span>
                Switch As User
            </a>
        </li>

        <li class="list" id="sidebar-tag">
            <a onclick="opentagpage()">
                <span class="list-span">
                    <i class="fa fa-tags" id="icon"></i>
                </span>
                Tag Panel
            </a>
        </li>

        <li class="list" id="sidebar-password">
            <a onclick="changepassword()">
                <span class="list-span">
                    <i class="fa fa-lock" id="icon"></i>
                </span>
                Change Password
            </a>
        </li>

        <li class="list">
            <a data-toggle="modal" data-target="#logModal">
                <span class="list-span">
                    <i class="fa fa-sign-out" id="icon"></i>
                </span>
                Logout
            </a>
        </li>

    </ul>
</div>

<!--------------------------------------------------------->
<div class="modal fade " id="switch-stateUser" role="dialog" style="z-index:9999" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Switch As User</h3>
        
      </div>
      <div class="modal-body">
		<h3>Do you really want to switch state...</h3>
        <button type="button" class="btn btn-danger" id="yes">Yes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
	   </div>
	 </div>
  </div>
</div>

<!-- LOGOUT MODAL -->
<div id="logModal" class="modal fade" role="dialog" style="background-color: rgba(54,70,93,0.95);color:white;">
    <div class="modal-dialog" style="position:relative;top:35%!important;">
        <center>
        <div>
            <div >
                <h3 >Confirm Logout!</h3>
            </div>
            <br>
            <div >
                <p>Do you really want logout?</p>
            </div>
            <br>
            <div >
                <button type="button" class="btn btn-success logoutbtncss" onclick="gotologinpage()" style="background-color: #303f53;text-shadow: none;border: 0;font-size: 16px;border-radius: 2px;padding: 10px;min-width: 100px;">Yes</button>
                <button type="button" class="btn btn-danger logoutbtncss" data-dismiss="modal" style="background-color: #303f53;text-shadow: none;border: 0;font-size: 16px;border-radius: 2px;padding: 10px;min-width: 100px;">No</button>
            </div>
        </div>
    </div>
    </div>
</div>