 <header class="header">
  <div class="logo">
    cq
  </div>
  <div class="toggle-btn">
    <a href="#" id="main-header"> <i class="fa fa-windows"></i></a>
  </div>
  <div class="vacant">

  </div>
  <div class="user-type">
    admin
  </div>
  <div class="user-type">
    superadmin
  </div>
  <div class="image">
    <img src="dp.png" id="image">
  </div>
</header>
