.chead
{
	    display: flex;
    /* float: left; */
    margin-top: 15px;
    /* margin-left: 55px; */x;
}

.clab
{
	order: 1;
    flex: 3;
    font-size: 26px;
    font-family: fantasy;
}
  
.cempty {
    order: 2;
    flex: 5;
	/*width : 635px;*/
  }
  
 .rule
 {
	order: 3;
	
 }	

  body
  {
	  padding : 0;
	  margin : 0;
	 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color : #333439;
	line-height: 1.42857143;
  }

.cbody
{
	width: 75%;
    margin-left: 55px;
    float: left;
    margin-top: 20px;
}	

#crule
{
	width: 117px;
    background-color: #1b1818c9;
    color: white;
    height: 30px;
}

#dynam
{
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	/* margin-top: 35px; */
	background-color: #524F4F;
	color: #fff;
	border : 1px solid grey;
	    margin-right: 7px;
}

#CommunityInfoPop
{
	/*margin-left: 20%; */
    margin-top: 7%;
    font-weight: bold;
    font-size: 15px;
    word-wrap: break-word;
}

#CommunityProfilePic
{
	    width: 23%;
    height: 56%;
}

#CommunityProfilePic, #CommunityInfoPop
{
	float: left;
}

.page-content-div
{
	min-width : 360px;
}