body{
	margin: 0;
	padding: 0;
	line-height: 1.42857143;
	overflow-y: hidden; 
}

#tagbox
{
	padding-top: 0px;
    float: left;
    margin-left: 370px;
    height: 300px;
    border: 1px solid #9c9292;
    width: 452px;
    padding-left: 25px;
    margin-top: 60px;
    box-shadow: 1px 1px 7px 1px #9a8888;
}
#l{
	font-size: 35px;
    text-align: left;
	font-family: cursive;
}

#tagname
{
	width: 400px;
    height: 46px;
    border: 2px solid #96937f;
    padding-left: 9px;
    font-size: 18px;
}

#submit
{
	font-size: 18px;
    color: black;
    border-radius: 3px;
    height: 42px;
    width: 400px;
    background-color: #98ce98;
}

#list
{
	font-size: 18px;
    color: #633434;
    border-radius: 3px;
    height: 30px;
    width: 145px;
    background-color: #e48e64;
    margin-left: 132px;
}